@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background-color: #000;
}
.app {
    font-family: 'NTR', sans-serif;
    margin-bottom: 0;
}